
html, body {
  height: 100%;
  margin: 0;
  line-height: 1.5;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  * {
    box-sizing: border-box;
  }
  .root-container {
    height: 100%;

    .container {
      height: 100%;
    }
  }

  .hidden {
    display: none;
  }

  .bold {
    font-weight: 500;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  background: #20295b;
  border-bottom: .05rem solid #e5e5e5;
  height: 80px;
  align-items: center;

  .actions {
    display: flex;
    position: relative;

    .search-input {
      margin-right: 20px;
      border-radius: 4px;
      border: none;
      padding: 0 40px 0 20px;
      width: 320px;
      height: 50px;
    }

    .fas {
      position: absolute;
      top: 17px;
      color: #9598a8;
      left: 290px;

      &.fa-times {
        cursor: pointer;
        &:hover {
          color: #7f8291;
        }
      }
    }
  }
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
  color: #fff;
  font-size: 2rem;
}

.header-btn {
  height: 3rem;
  width: 10rem;
  background: #fff;
  text-align: center;
  border-radius: 4px;
  line-height: 3rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1.2px;
  color: #20295b;
  cursor: pointer;
  transition: background .3s;

  &:hover {
    background: #d8dcf1;
  }
}

.page-content {
  height: calc(100% - 80px);

  .wrapper {
    overflow: auto;
    padding: 30px;
  }

  .page-footer {
    left: 0;
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 80px;
    align-items: center;
    padding: 0 2rem;
    background: #d8dcf1;
    border-top: 1px solid #cccfe2;
  }
}

.search-results {
  padding: 0 2rem;
  .search-title {
    margin-bottom: 0;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  .search-description {
    font-size: 14px;
    margin-top: 0;
  }

  .no-results {
    text-align: center;
    text-transform: uppercase;
    margin: 5rem;
    color: gray;
    font-weight: 500;
  }
}